html, body {
    margin: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgb(0, 0, 0) 0%, rgba(69, 92, 39, 1) 28%, rgba(96, 115, 73, 1) 85%);
    background: #5a733a;
  font-family: Georgia, "Times New Roman", serif;
}

.page {
  width: 900px;
  margin: 0px auto;
  background: rgb(226, 223, 223);
}

.welcome{
    background: #000000;
    background: #000000;
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(3, 51, 0, 1) 0%, rgba(69, 92, 39, 1) 28%, rgba(96, 115, 73, 1) 85%);
    height: 15vh;
    box-sizing: border-box;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 27px 0px;
    border-radius: 4px;
}

.welcome .h11{
    font-size: 18px;
    font-family: "Playfair Display";
    font-weight: 100;
}

.welcome .h11wrapper{
    padding: 5px 0px;
    padding-left: 42px;
    background: linear-gradient(to right,  #94a382, transparent 99%);
    background: linear-gradient(90deg,  #94a382 15%, transparent 65%);
}

.welcome .h12{
    font-family: "Playfair Display";
    font-weight: 100;
    font-size: 50px;
    margin-left: 40px;
}

.site-header {
  background: rgb(226, 223, 223);
  color: white;
  padding: 25px 30px;
}


.site-header h1 {
  font-size: 14px;
  letter-spacing: 2px;
  margin: 0;
}

.site-header h2 {
  font-size: 42px;
  font-weight: normal;
  margin: 5px 0 0 0;
}

.content {
  display: flex;
  margin: 0px 10px;
  padding: 0px 20px;
  gap: 20px;

}

.posts {
    width: 65%;
    padding-top: 10px;
    background-color: white;
    border: black, solid 1px;
}

.sidebar {
  width: 35%;
}

.post {
  position: relative;
  padding-left: 90px; 
  margin-bottom: 40px;
}


.post-date {
  position: absolute;
  left: -40px;          
  top: 0;
  width: 80px;
  text-align: center;

  background: #9c9c9c;
  color: white;
  padding: 8px 5px;
  font-size: 14px;
  border-radius: 3px;
}
.post h3 a {
  color: #4f7a1f;
  text-decoration: underline;
  font-size: 22px;
}

.post h3{
    margin-bottom: 15px;
}

.sidebar h4 {
    background: #5a733a;
    color: white;
    padding: 10px;
    font-size: 30px;
    font-weight: 100;
}

.sidebar .background{
    background: #ffffff;
    border: black, solid 1px;

}

.aboutme{
    display: flex;
    align-items: center;
    font-size: 13px;
    text-align: left;
}

.about{
    margin-left: 10px;
}

.section{
    margin-bottom: 12px;
}

.wrapper1{
    display: flex;
    flex-wrap: wrap;
}